[submodule "vendor/dss-cron"]
	path = vendor/dss-cron
	url = https://github.com/makerdao/dss-cron
[submodule "vendor/dss-vest"]
	path = vendor/dss-vest
	url = https://github.com/makerdao/dss-vest
[submodule "vendor/dss-cron-standard-payment"]
	path = vendor/dss-cron-standard-payment
	url = https://github.com/makerdao/dss-cron
	branch = standardize-payment-interface
