[submodule "vendor/dss-cron"]
	path = vendor/dss-cron
	url = https://github.com/makerdao/dss-cron
[submodule "vendor/dss-vest"]
	path = vendor/dss-vest
	url = https://github.com/makerdao/dss-vest
[submodule "vendor/chainlink"]
	path = vendor/chainlink
	url = https://github.com/smartcontractkit/chainlink
